#/*
 # * Licensed to the Apache Software Foundation (ASF) under one or more
 # * contributor license agreements.  See the NOTICE file distributed with
 # * this work for additional information regarding copyright ownership.
 # * The ASF licenses this file to You under the Apache License, Version 2.0
 # * (the "License"); you may not use this file except in compliance with
 # * the License.  You may obtain a copy of the License at
 # *
 # *    http://www.apache.org/licenses/LICENSE-2.0
 # *
 # * Unless required by applicable law or agreed to in writing, software
 # * distributed under the License is distributed on an "AS IS" BASIS,
 # * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # * See the License for the specific language governing permissions and
 # * limitations under the License.
 # */
Jdbc {
    host = "地址。"
    host_description = "请输入数据库服务器主机名或 IP 地址。"
    port = "端口。"
    port_description = "数据库服务器端口，默认 3306。"
    server_time_zone = "时区"
    server_time_zone_description = "数据库服务器会话时区，例如 Asia/Shanghai 或 UTC。"
    url = "JDBC连接Url"
    url_description = "数据库的JDBC连接地址. 比如 jdbc:mysql://localhost:3306/test?enabledTLSProtocols=TLSv1.2&rewriteBatchedStatements=true"
    driver = "驱动"
    driver_description = "数据库JDBC驱动名. 比如MySQL的驱动: com.mysql.cj.jdbc.Driver"
    user = "用户名"
    username = "用户名"
    password = "密码"
    query = "查询SQL"
    query_description = "从源读取数据的sql"
    connection_check_timeout_sec = "JDBC连接超时时长"
    connection_check_timeout_sec_description = "JDBC连接超时时长"
    partition_column = "并行读取拆分使用的字段"
    partition_column_description = "并行读取拆分使用的字段，建议使用表中的自增主键或足够散列数字类型主键字段，目前只支持单个字段"
    partition_upper_bound = "拆分字段上边界"
    partition_upper_bound_description = "从源表中查询数据时将会自动添加 where xxx <= n 语句，其中xxx为并行读取拆分字段，n 为这里设置的拆分字段上边界值"
    partition_lower_bound = "拆分字段下边界"
    partition_lower_bound_description = "从源表中查询数据时将会自动添加 where xxx >= m 语句，其中xxx为并行读取拆分字段，m 为这里设置的拆分字段下边界值"
    partition_num = "拆分的分片数"
    partition_num_description = "将读取数据拆分成多少个分片，将基于拆分字段的上下边界除以该值计算每个分片的步长"
    fetch_size = "每次拉取行数"
    fetch_size_description = "JDBC每次检索结果集取出的行数"
    parallelism = "并行度"
    parallelism_description = "用于读取数据的线程数"
    database = "数据库"
    table = "表名"
    primary_keys = "主键列"
    primary_keys_description = "目标表的主键字段列表，[key1, key2, ...]"
    support_upsert_by_query_primary_key_exist = "基于主键做upsert"
    support_upsert_by_query_primary_key_exist_description = "基于主键做upsert"
    max_retries = "最大重试次数"
    batch_interval_ms = "两次批量写入最大间隔时长"
    batch_interval_ms_description = "两次批量写入最大间隔时长"
    batch_size = "每次批量写入最大行数"
    batch_size_description = "每次批量写入最大行数"
    is_exactly_once = "数据一致性保证"
    is_exactly_once_description = "是否开启目标端数据库的XA事务来保证数据的一致性"
    xa_data_source_class_name = "XA事务的名称"
    xa_data_source_class_name_description = "XA事务名称"
    max_commit_attempts = "XA事务提交最大重试次数"
    max_commit_attempts_description = "XA事务提交最大重试次数"
    transaction_timeout_sec = "事务提交超时时长"
    transaction_timeout_sec_description = "事务提交超时时长"
    auto_commit = "是否自动提交事务"
    auto_commit_description = "是否自动提交事务"
    schema_save_mode = "Schema保存模式"
    schema_save_mode_description = "目标表不存在时自动创建，已存在时根据策略处理"
    data_save_mode = "数据保存模式"
    data_save_mode_description = "数据写入时的保存策略"
    create_index = "创建索引"
    create_index_description = "写入前是否自动创建索引"
    is_primary_key_updated = "主键是否更新"
    is_primary_key_updated_description = "当主键冲突时是否更新已有数据"
    support_upsert_by_insert_only = "仅通过插入实现Upsert"
    support_upsert_by_insert_only_description = "仅通过INSERT语句实现Upsert语义"
    use_copy_statement = "使用Copy语句"
    use_copy_statement_description = "是否使用COPY语句进行批量写入"
    compatible_mode = "兼容模式"
    compatible_mode_description = "数据库兼容模式，如无需特殊兼容可不填"
    enable_upsert = "启用Upsert"
    enable_upsert_description = "是否启用Upsert写入模式"
    field_ide = "字段命名策略"
    field_ide_description = "字段命名转换策略"
    tablePrefix = "表名前缀"
    tablePrefix_description = "写入的目标表名前缀"
    tableSuffix = "表名后缀"
    tableSuffix_description = "写入的目标表名后缀"
    multi_table_sink_replica = "多表写入副本数"
    multi_table_sink_replica_description = "多表写入时的副本数"
    dialect = "SQL方言"
    dialect_description = "数据库SQL方言，根据数据库类型自动选择"
    table_path = "表路径"
    table_path_description = "表的完整路径"
    where_condition = "过滤条件"
    where_condition_description = "行级过滤条件，必须以 where 开头，例如 where id > 100"
    table_list = "表列表配置"
    table_list_description = "多表读取时的表列表详细配置"
    split_size = "分片大小"
    split_size_description = "表快照的分片大小（行数），捕获的表在读取时会被拆分为多个分片"
    split_even_distribution_factor_upper_bound = "分片均匀分布上限因子"
    split_even_distribution_factor_upper_bound_description = "分片键分布因子上限值，用于判断表数据是否均匀分布"
    split_even_distribution_factor_lower_bound = "分片均匀分布下限因子"
    split_even_distribution_factor_lower_bound_description = "分片键分布因子下限值，用于判断表数据是否均匀分布"
    split_sample_sharding_threshold = "采样分片阈值"
    split_sample_sharding_threshold_description = "触发采样分片策略的预估分片数阈值，默认1000个分片"
    split_inverse_sampling_rate = "采样率分母"
    split_inverse_sampling_rate_description = "采样分片策略的采样率倒数，该值代表采样率的分母"
    use_select_count = "使用Count查询"
    use_select_count_description = "是否使用SELECT COUNT进行表行数统计"
    skip_analyze = "跳过分析"
    skip_analyze_description = "是否跳过对表行数的分析"
    use_regex = "使用正则匹配"
    use_regex_description = "是否使用正则表达式进行表路径匹配"
    split_string_split_mode = "字符串分片模式"
    split_string_split_mode_description = "字符串类型分片列的拆分算法模式"
    split_string_split_mode_collate = "字符串分片排序规则"
    split_string_split_mode_collate_description = "当字符串分片模式为charset_based且表使用特殊排序规则时指定"
    properties = "额外连接参数"
    properties_description = "额外的JDBC连接配置参数"
    decimal_type_narrowing = "Decimal类型收窄"
    decimal_type_narrowing_description = "是否将Decimal类型映射为更具体的Java数值类型"
    int_type_narrowing = "整数类型收窄"
    int_type_narrowing_description = "是否将整数类型（如TINYINT(1)）收窄为更具体的布尔类型"
    RECREATE_SCHEMA = "删除并重建表"
    CREATE_SCHEMA_WHEN_NOT_EXIST = "不存在时创建"
    ERROR_WHEN_SCHEMA_NOT_EXIST = "不存在时报错"
    IGNORE = "忽略目标表结构"
    DROP_DATA = "清空数据"
    APPEND_DATA = "追加数据"
    CUSTOM_PROCESSING = "自定义处理"
    ERROR_WHEN_DATA_EXISTS = "数据已存在时报错"
    ORIGINAL = "保持原字段名"
    UPPERCASE = "转换为大写"
    LOWERCASE = "转换为小写"
    SAMPLE = "采样分片"
    CHARSET_BASED = "基于字符集分片"
}

S3File {
    path = "路径"
    path_description = "读取或写入数据的路径，例如: /seatunnel/path1"
    file_format_type = "文件格式"
    bucket = "S3桶地址"
    fs_s3a_endpoint = "S3a Endpoint"
    fs_s3a_endpoint_description = "例如: s3.cn-north-1.amazonaws.com.cn"
    fs_s3a_aws_credentials_provider = "S3 Credentials Provider"
    read_columns = "读取的字段列表"
    read_columns_description = "需要从文件中读取的字段列表，应该是文件中所有字段的子集"
    access_key = "Access Key"
    access_secret = "Access Secret"
    hadoop_s3_properties = "Hadoop S3 Api可选参数"
    hadoop_s3_properties_description = "使用hadoop s3 api访问s3可选的其它参数. 比如: \n{'{'}fs.s3a.buffer.dir = /data/st_test/s3a\nfs.s3a.fast.upload.buffer = disk\n{'}'}"
    delimiter = "文件中的字段分隔符"
    delimiter_description = "文件中使用的字段分隔符, 默认值是 \\001"
    parse_partition_from_path = "是否从子目录中解析分区字段"
    parse_partition_from_path_description = "是否从子目录中解析分区字段"
    date_format = "日期格式化"
    date_format_description = "日期类型的格式化，告诉同步任务该如何将字符串转换成日志，目前支持：yyyy-MM-dd， yyyy.MM.dd， yyyy/MM/dd。 默认值是 yyyy-MM-dd"
    datetime_format = "日期时间格式化"
    datetime_format_description = "Datetime类型格式，用于告诉同步任务如何将字符串转换为Datetime，支持以下格式: yyyy-MM-dd HH:mm:ss yyyy.MM.dd HH:mm:ss yyyy/MM/dd HH:mm:ss yyyyMMddHHmmss. 默认值是 yyyy-MM-dd HH:mm:ss"
    time_format = "时间类型格式化"
    time_format_description = "时间类型格式，用于告诉连接器如何将字符串转换为时间，支持以下格式: HH:mm:ss HH:mm:ss.SSS. 默认值是 HH:mm:ss"
    skip_header_row_number = "跳过文件的前几行"
    skip_header_row_number_description = "跳过前几行，仅用于text和csv文件格式类型。"
    schema = "schema"
}

MySQL-CDC {
    username = "用户名"
    username_description = "连接数据库服务器所使用的用户名。"
    password = "密码"
    base_url = "JDBC连接Url"
    server_time_zone = "数据库服务器会话时区"
    format = "数据输出格式"
    DEFAULT = "默认格式"
    COMPATIBLE_DEBEZIUM_JSON = "兼容Debezium Json格式"
    snapshot_split_size = "历史数据阶段每次读取的行数"
    snapshot_split_size_description = "在历史数据读取阶段，每次Split读取的数据行数。每个表将被拆分为多个Split以进行并行读取"
    snapshot_fetch_size = "JDBC每批拉取行数"
    snapshot_fetch_size_description = "读取表快照时的JDBC每批拉取行数"
    incremental_parallelism = "增量读取阶段并行度"
    incremental_parallelism_description = "增量读取状态下的并行数。现在仅支持配置为1"
    startup_mode = "作业启动模式"
    startup_mode_description = "CDC源的作业启动模式，可选值：initial（先全量再增量）、earliest（最早binlog开始增量）、latest（最新binlog开始增量）、specific（指定binlog位置开始增量）、timestamp（指定时间戳对应的binlog开始增量）"
    INITIAL = "先全量同步所有历史数据，再自动增量同步新增数据"
    EARLIEST = "不同步历史数据，从能找到的最早的binlog开始增量同步"
    LATEST = "不同步历史数据，从能找到的最新的binlog开始增量同步"
    SPECIFIC = "不同步历史数据，从指定的binlog文件和位置开始增量同步"
    TIMESTAMP = "不同步历史数据，从指定的时间查找对应的binlog文件和位置开始增量同步"
    startup_specific_offset_file = "开始同步的log文件名"
    startup_specific_offset_file_description = "配置文件和位置以开始读取"
    startup_specific_offset_pos = "开始同步的log位置"
    startup_specific_offset_pos_description = "配置开始读取的log的位置"
    stop_mode = "作业停止模式"
    stop_mode_description = "CDC源的作业停止模式，可选值：never（持续运行）、latest（最新binlog停止）、specific（指定binlog位置停止）"
    NEVER = "持续运行，不主动停止"
    debezium = "Debezium相关的配置参数"
    debezium_description = "将Debezium的参数传递给DebeziumEmbeddedEngine，该引擎用于从MySQL服务器捕获数据更改。您可以从 https://debezium.io/documentation/reference/1.6/connectors/mysql.html#mysql-connector-properties 获取更多信息. 示例: \n{'{'}\n snapshot.mode = \"never\"\n decimal.handling.mode = \"double\"\n:{'}'}"
    server_id = "MySQL服务器ID"
    server_id_description = "此数据库客户端在MySQL集群中的数字ID或ID范围。语法如'5400'（单个ID）或'5400-5408'（范围）。每个ID必须在MySQL集群中所有正在运行的数据库进程中唯一。默认在6500-2148492146之间随机生成，建议显式设置。"
    connect_timeout_ms = "数据库连接超时时长（毫秒）"
    connect_timeout_ms_description = "在超时之前，连接器尝试连接到数据库服务器后应等待的最长时间"
    connect_max_retries = "数据库连接最大重试次数"
    connect_max_retries_description = "连接器可以重试以建立数据库服务器连接的最大重试次数"
    connection_pool_size = "数据库连接池大小"
    connection_pool_size_description = "数据库连接池大小"
    parallelism = "并行度"
    parallelism_description = "读取历史数据阶段的并行度。它影响读取历史数据的速度。"
    url = "JDBC连接地址"
    url_description = "数据库服务器的JDBC连接URL地址"
    database_names = "数据库名称列表"
    database_names_description = "要监控的数据库名称，多个数据库用逗号分隔"
    table_names = "表名列表"
    table_names_description = "要监控的表名称列表，格式为 数据库.表名，多个表用逗号分隔"
    table_pattern = "表名匹配正则"
    table_pattern_description = "要监控的表名正则匹配模式"
    startup_timestamp = "启动时间戳（毫秒）"
    startup_timestamp_description = "\"timestamp\"启动模式下使用的时间戳值，单位为毫秒"
    stop_specific_offset_file = "停止时的binlog文件名"
    stop_specific_offset_file_description = "\"specific\"停止模式下使用的binlog文件名"
    stop_specific_offset_pos = "停止时的binlog位置"
    stop_specific_offset_pos_description = "\"specific\"停止模式下使用的binlog偏移位置"
    exactly_once = "启用精确一次语义"
    exactly_once_description = "启用精确一次语义，确保数据不重不丢"
    schema_changes_enabled = "启用Schema变更事件发送"
    schema_changes_enabled_description = "启用发送Schema变更事件到下游，默认为false"
    int_type_narrowing = "整数类型收窄"
    int_type_narrowing_description = "是否将整数类型（如TINYINT(1)）收窄为更具体的布尔类型，目前支持MySQL"
    chunk_key_even_distribution_factor_upper_bound = "分片键均匀分布上限因子"
    chunk_key_even_distribution_factor_upper_bound_description = "分片键分布因子上限值。分布因子用于判断表数据是否均匀分布。当数据分布均匀时使用均匀计算优化，不均匀时则触发分片查询。分布因子计算公式为 (MAX(id) - MIN(id) + 1) / rowCount。"
    chunk_key_even_distribution_factor_lower_bound = "分片键均匀分布下限因子"
    chunk_key_even_distribution_factor_lower_bound_description = "分片键分布因子下限值。分布因子用于判断表数据是否均匀分布。分布因子计算公式为 (MAX(id) - MIN(id) + 1) / rowCount。"
    sample_sharding_threshold = "采样分片预估阈值"
    sample_sharding_threshold_description = "触发采样分片策略的预估分片数阈值。当分布因子超出上下限范围且预估分片数超过此阈值时，将使用采样分片策略。默认值为1000个分片。"
    inverse_sampling_rate = "采样率分母"
    inverse_sampling_rate_description = "采样分片策略的采样率倒数。该值代表采样率的分母。例如值为1000表示采样率为1/1000。"
    table_names_config = "表详细配置"
    table_names_config_description = "配置表的详细信息，包括主键和快照拆分列等信息。示例：[{\"table\": \"db1.schema1.table1\", \"primaryKeys\": [\"key1\",\"key2\"], \"snapshotSplitColumn\": \"key2\"}]"
}

SqlServer-CDC {
    username = "用户名"
    password = "密码"
    base_url = "JDBC连接Url"
    server_time_zone = "数据库服务器会话时区"
    format = "数据输出格式"
    DEFAULT = "Default"
    COMPATIBLE_DEBEZIUM_JSON = "Compatible Debezium Json"
    snapshot_split_size = "历史数据阶段每次读取的行数"
    snapshot_split_size_description = "在历史数据读取阶段，每次Split读取的数据行数。每个表将被拆分为多个Split以进行并行读取"
    snapshot_fetch_size = "JDBC Fetch Size"
    snapshot_fetch_size_description = "读取表快照时的JDBC Fetch Size"
    incremental_parallelism = "增量读取阶段并行度"
    incremental_parallelism_description = "增量读取状态下的并行数。现在仅支持配置为1"
    startup_mode = "作业启动模式"
    INITIAL = "先全量同步所有历史数据，再自动增量同步新增数据"
    EARLIEST = "不同步历史数据，从能找到的最早的binlog开始增量同步"
    LATEST = "不同步历史数据，从能找到的最新的binlog开始增量同步"
    SPECIFIC = "不同步历史数据，从指定的binlog文件和位置开始增量同步"
    TIMESTAMP = "不同步历史数据，从指定的时间查找对应的binlog文件和位置开始增量同步"
    startup_specific_offset_file = "开始同步的log文件名"
    startup_specific_offset_file_description = "配置文件和位置以开始读取"
    startup_specific_offset_pos = "开始同步的log位置"
    startup_specific_offset_pos_description = "配置开始读取的log的位置"
    stop_mode = "作业停止模式"
    NEVER = "持续运行，不主动停止"
    debezium = "Debezium相关的配置参数"
    debezium_description = "将Debezium的参数传递给DebeziumEmbeddedEngine，该引擎用于从MySQL服务器捕获数据更改。您可以从 https://debezium.io/documentation/reference/1.6/connectors/mysql.html#mysql-connector-properties 获取更多信息. 示例: \n{'{'}\n snapshot.mode = \"never\"\n decimal.handling.mode = \"double\"\n{'}'}"
    server_id = "MySQL Server Id"
    connect_timeout_ms = "数据库连接超时时长（毫秒）"
    connect_timeout_ms_description = "在超时之前，连接器尝试连接到数据库服务器后应等待的最长时间"
    connect_max_retries = "数据库连接最大重试次数"
    connect_max_retries_description = "连接器可以重试以建立数据库服务器连接的最大重试次数"
    connection_pool_size = "数据库连接池大小"
    connection_pool_size_description = "数据库连接池大小"
    parallelism = "并行度"
    parallelism_description = "读取历史数据阶段的并行度。它影响读取历史数据的速度。"
}

Elasticsearch {
    hosts = "访问地址"
    hosts_description = "ElasticSearch中HTTP端口信息，类型为List，如：[\"127.0.0.1:9200\",\"127.0.0.2:9200\"]"
    username = "用户名"
    password = "密码"
    tls_verify_certificate = "为HTTPS端点启用证书验证"
    tls_verify_certificate_description = "为HTTPS端点启用证书验证"
    tls_verify_hostname = "为HTTPS端点启用主机名验证"
    tls_verify_hostname_description = "为HTTPS端点启用主机名验证"
    tls_keystore_path = "PEM或JKS密钥库的路径"
    tls_keystore_path_description = "PEM 或 JKS 密钥库的路径。运行 SeaTunnel 的操作系统用户必须可以读取该文件。"
    tls_keystore_password = "密钥库的密钥密码"
    tls_keystore_password_description = "指定密钥库的密钥密码"
    tls_truststore_path = "PEM或JKS信任库的路径"
    tls_truststore_path_description = "PEM 或 JKS 信任库的路径。运行 SeaTunnel 的操作系统用户必须可以读取该文件。"
    tls_truststore_password = "信任库的密钥密码"
    scroll_time = "Scroll Time"
    scroll_time_description = "Elasticsearch 将为滚动请求保持搜索上下文活动的时间大小"
    scroll_size = "Scroll Size"
    scroll_size_description = "每个 Elasticsearch 滚动请求返回的最大命中数"
    parallelism = "并行度"
    parallelism_description = "并行度，并行度越大读取速度越快，消耗的机器资源越多"
    index_type = "索引类型"
    index_type_description = "Elasticsearch索引类型，建议在elasticsearch 6及以上不要指定"
    primary_keys = "主键字段"
    primary_keys_description = "用于生成文档_id 的主键字段，这是CDC模式（例如Source为MySQL-CDC） 必需的选项."
    key_delimiter = "主键分隔符"
    key_delimiter_description = "复合键的分隔符（默认为\"_\"），例如，\"$\"将生成文档 _id \"KEY1$KEY2$KEY3\""
    max_retry_count = "写入请求最大重试次数"
    max_batch_size = "批量写入一次最大数据量"
    max_batch_size_description = "批量写入请求的最大数据大小"
}

Kafka {
    bootstrap_servers = "连接地址"
    bootstrap_servers_description = "Kafka的集群地址，例如：host1:9092, host2:9092"
    kafka_config = "Kafka配置信息"
    kafka_config_description = "用于输入一些额外的参数，使用HOCON格式，例如\n{'{'}\n max.pool.recodes=500\n{'}'}"
    topic = "topic"
    pattern = "是否正则匹配"
    start_mode = "启动模式"
    EARLIEST = "从最早的Offset开始消费"
    GROUP_OFFSETS = "从消息者Group中保存的Offset开始消费"
    LATEST = "从最新的Offset开始消费"
    TIMESTAMP = "从指定的时间开始消费"
    SPECIFIC_OFFSETS = "从指定的Offset开始消费"
    consumer_group = "消费者组"
    consumer_group_description = "消费者组，默认为 SeaTunnel-Consumer-Group"
    commit_on_checkpoint = "检查点提交"
    commit_on_checkpoint_description = "触发检查点的时候是否提交偏移量"
    format = "数据格式"
    group_offsets = "消费者组偏移量"
    group_offsets_description = "从消费者组保存的偏移量开始消费"
    debezium_record_include_schema = "Debezium 记录包含 Schema"
    debezium_record_include_schema_description = "Debezium 记录中是否包含 Schema 信息"
    debezium_record_table_filter = "Debezium 记录表过滤"
    debezium_record_table_filter_description = "Debezium 记录的表过滤规则"
    reader_cache_queue_size = "读取器缓存队列大小"
    reader_cache_queue_size_description = "读取器缓存队列的大小"
    ignore_no_leader_partition = "忽略无 Leader 分区"
    ignore_no_leader_partition_description = "是否忽略没有 Leader 的分区"
    partition_discovery_interval_millis = "查询分区的时间间隔"
    partition_discovery_interval_millis_description = "查询分区的时间间隔，如果设置大于0则可以在运行时动态的发现分区。"
    parallelism = "并行度"
}

StarRocks {
    nodeUrls = "Http连接地址"
    nodeUrls_description = "StarRocks中HTTP端口信息，类型为List，如：[\"127.0.0.1:8030\"]"
    username = "用户名"
    password = "密码"
    base_url = "JDBC连接地址"
    base_url_description = "用于定义连接StarRocks的JDBC URL，如：jdbc:mysql://127.0.0.1:9030/test"
    labelPrefix = "Label Prefix"
    labelPrefix_description = "用于指定导入作业的标签。如果您不指定标签，StarRocks 会自动为导入作业生成一个标签。相同标签的数据无法多次成功导入，这样可以避免一份数据重复导入。有关标签的命名规范，请参见系统限制。StarRocks 默认保留最近 3 天内成功的导入作业的标签。您可以通过 FE 配置参数 label_keep_max_second 设置默认保留时长。"
    batch_max_rows = "批量写入最大行数"
    batch_max_bytes = "批量写入最大字节数"
    batch_interval_ms = "两个批次写入之间最大间隔时长"
    max_retries = "最大重试次数"
    max_retry_backoff_ms = "两次重试之间最大间隔时长"
    retry_backoff_multiplier_ms = "重试间隔时长增长系数"
    enable_upsert_delete = "启用Upsert/Delete"
    enable_upsert_delete_description = "是否开启upsert/delete，只支持主键模型，用于上游是CDC数据源的时候配置。"
    starrocks_config = "StarRocks配置参数"
    starrocks_config_description = "eg: \n{'{'}\n format=\"JSON\"\n strip_outer_array=true\n{'}'}"
    save_mode_create_template = "自动建表模板"
}

S3Redshift {
    jdbc_url = "Redshift JDBC连接地址"
    jdbc_user = "Redshift JDBC用户名"
    jdbc_password = "Redshift JDBC用户密码"
    execute_sql = "Redshift Copy指令"
    execute_sql_description = "从s3导入数据到RedShift的sql语句，例如：COPY table_name FROM 's3://test${'{'}path{'}'}' IAM_ROLE 'arn:aws-cn:iam::xxx' REGION 'cn-north-1' removequotes emptyasnull blanksasnull maxerror 100 delimiter '|' ;。"
    path = "路径"
    path_description = "读取或写入数据的路径，例如: /seatunnel/path1"
    file_format_type = "文件格式"
    bucket = "S3桶地址"
    fs_s3a_endpoint = "S3a Endpoint"
    fs_s3a_endpoint_description = "例如: s3.cn-north-1.amazonaws.com.cn"
    fs_s3a_aws_credentials_provider = "S3 Credentials Provider"
    read_columns = "读取的字段列表"
    read_columns_description = "需要从文件中读取的字段列表，应该是文件中所有字段的子集"
    access_key = "Access Key"
    access_secret = "Access Secret"
    hadoop_s3_properties = "Hadoop S3 Api可选参数"
    hadoop_s3_properties_description = "使用hadoop s3 api访问s3可选的其它参数. 比如: \n{'{'}fs.s3a.buffer.dir = /data/st_test/s3a\nfs.s3a.fast.upload.buffer = disk\n{'}'}"
    delimiter = "文件中的字段分隔符"
    delimiter_description = "文件中使用的字段分隔符, 默认值是 \\001"
    parse_partition_from_path = "是否从子目录中解析分区字段"
    parse_partition_from_path_description = "是否从子目录中解析分区字段"
    date_format = "日期格式化"
    date_format_description = "日期类型的格式化，告诉同步任务该如何将字符串转换成日志，目前支持：yyyy-MM-dd， yyyy.MM.dd， yyyy/MM/dd。 默认值是 yyyy-MM-dd"
    datetime_format = "日期时间格式化"
    datetime_format_description = "Datetime类型格式，用于告诉同步任务如何将字符串转换为Datetime，支持以下格式: yyyy-MM-dd HH:mm:ss yyyy.MM.dd HH:mm:ss yyyy/MM/dd HH:mm:ss yyyyMMddHHmmss. 默认值是 yyyy-MM-dd HH:mm:ss"
    time_format = "时间类型格式化"
    time_format_description = "时间类型格式，用于告诉连接器如何将字符串转换为时间，支持以下格式: HH:mm:ss HH:mm:ss.SSS. 默认值是 HH:mm:ss"
    skip_header_row_number = "跳过文件的前几行"
    skip_header_row_number_description = "跳过前几行，仅用于text和csv文件格式类型。"
    schema = "schema"
}

SSH {
    ip = "IP地址"
    port = "端口"
    username = "用户名"
    password = "密码"
    privateKey = "目标服务器的私钥"
}

PROXY {
    url = "代理服务器IP地址"
    port = "代理服务器端口"
    username = "用户名"
    password = "密码"
}

FakeSource {
    fields = "领域"
    fields_description = "该值将用于填充 UI 中的字段详细信息，但是在执行期间不会使用它。"
}

Console {
    log_print_data = "日志打印数据"
    log_print_data_description = "决定是否应在日志中打印数据的标志。"
    log_print_delay_ms = "日志打印延迟(毫秒)"
    log_print_delay_ms_description = "打印每个数据项到日志之间的毫秒延迟。"
}

JSONPATH {
    path = "JSON路径"
    path_description = "从JSON中选择字段的JSONPath，可以是字符串或字符串数组"
    src_field = "源字段"
    src_field_description = "JSON源字段"
    dest_field = "目标字段"
    dest_field_description = "输出字段，可以是字符串或字符串数组"
    dest_type = "目标类型"
    dest_type_description = "输出字段类型，可以是字符串或字符串数组，默认为string"
    columns = "解析字段"
    columns_description = "需要解析的字段数组，每项包含path、src_field、dest_field、dest_type"
    table_transform = "表转换配置"
    table_transform_description = "表转换配置"
    table_match_regex = "表名匹配正则"
    table_match_regex_description = "用于匹配表路径的正则表达式"
    row_error_handle_way = "列发生错误时的处理方式"
    row_error_handle_way_description = "行级错误处理方式"
    FAIL = "失败"
    SKIP = "跳过"
    ROUTE_TO_TABLE = "路由到错误表"
}

REPLACE {
    replace_field = "需要替换的字段"
    replace_field_description = "请输入要替换的字段"
    pattern = "将被替换的旧字符串"
    pattern_description = "请输入要被替换的旧字符串"
    replacement = "用于替换的新字符串"
    replacement_description = "请输入用于替换的新字符串"
    is_regex = "是否使用正则匹配"
    is_regex_description = "是否使用正则表达式进行字符串匹配"
    "true" = "是"
    "false" = "否"
    replace_first = "仅替换首次匹配"
    replace_first_description = "仅替换第一个匹配到的字符串"
    table_transform = "表转换配置"
    table_transform_description = "表转换配置"
    table_match_regex = "表名匹配正则"
    table_match_regex_description = "用于匹配表路径的正则表达式"
}

Env {
    job_mode = "作业模式"
    job_mode_description = "作业的运行模式，支持批处理和流处理"
    BATCH = "批处理"
    STREAMING = "流处理"
    job_name = "作业名称"
    job_name_description = "该作业的名称"
    job_retry_times = "作业重试次数"
    job_retry_times_description = "作业失败时的重试次数"
    job_retry_interval_seconds = "作业重试间隔(秒)"
    job_retry_interval_seconds_description = "作业重试的时间间隔(秒)"
    jars = "依赖Jar包"
    jars_description = "通过jars加载第三方依赖包"
    checkpoint_interval = "检查点间隔(毫秒)"
    checkpoint_interval_description = "两次检查点之间的间隔(毫秒)"
    checkpoint_timeout = "检查点超时(毫秒)"
    checkpoint_timeout_description = "检查点的超时时间(毫秒)"
    min_pause = "检查点最小暂停间隔(毫秒)"
    min_pause_description = "连续两次检查点之间的最小暂停间隔(毫秒)"
    read_limit_rows_per_second = "每秒读取行数限制"
    read_limit_rows_per_second_description = "每个并行度从数据源读取数据的每秒行数限制"
    read_limit_bytes_per_second = "每秒读取字节数限制"
    read_limit_bytes_per_second_description = "每个并行度从数据源读取数据的每秒字节数限制"
    savemode_execute_location = "保存模式执行位置"
    savemode_execute_location_description = "保存模式执行位置"
    CLUSTER = "集群"
    CLIENT = "客户端"
    custom_parameters = "自定义参数"
    custom_parameters_description = "运行引擎的自定义参数"
    tag_filter = "节点标签过滤"
    tag_filter_description = "通过标签定义作业运行的Worker节点"
}

Http {
    url = "请求地址"
    url_description = "HTTP 请求地址"
    method = "请求方式"
    method_description = "HTTP 请求方式，默认 GET"
    headers = "请求头"
    headers_description = "HTTP 请求头"
    params = "查询参数"
    params_description = "HTTP 查询参数"
    body = "请求体"
    body_description = "HTTP 请求体"
    format = "数据格式"
    format_description = "响应数据格式"
}
